# Project
hardware.toml
.test/
temp/
/packages/
log*.txt

# Rust
debug/
target/
**/*.rs.bk
*.pdb
rustc-ice*

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# CSharp
bin/
obj/
/app/
net7.0/
LibreHardwareMonitorWrapper.sln.DotSettings.user

# Lmsensors
build/

/.flatpak-builder
/vendor
/repo
/flatpak-out
package-lock.json
