# Project
hardware.toml
.test/
temp/
/packages/
log*.txt

# Rust
debug/
target/
**/*.rs.bk
*.pdb

# IDE
.idea/
.vscode/*
!.vscode/launch.json
!.vscode/settings.json

# CSharp
bin/
obj/
/app/
net7.0/
LibreHardwareMonitorWrapper.sln.DotSettings.user

# Lmsensors
build/
