# Rust
debug/
target/
**/*.rs.bk
*.pdb

# custom

.test/
temp/
.idea/
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
bin/
obj/
.config/hardware.toml
/scripts/*
!scripts/icons.py
build/
/bundle/
/packages/