[package]
name = "fan-control-rs"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
const_format = "0.2.31"
serde = { version = "1.0.181", features = ["derive"] }
serde_json = "1.0.104"
serial_test = "2.0.0"
toml = "0.7.6"
