[package]
name = "fan-control"
authors = ["Wiiz Nokes <wiiznokes2@gmail.com>"]
version = "0.1.0"
edition = "2021"
license = "MIT"
description = "Control your fans with different behaviors"
repository = "https://github.com/wiiznokes/fan-control/"
exclude = ["/.*", "/Makefile", "LICENCE"]

[package.metadata.bundle]
identifier = "com.wiiznokes.fan-control"
icon = ["ressource/app_icon.ico", "ressource/app_icon.png"]
#resources = ["ressource"]
category = "Utility"

[workspace]
members = [
    "data",
    "hardware",
    "ui",
]


[features]
fake_hardware = [
    "hardware/fake_hardware"
]


[dependencies]
data.workspace = true
ui.workspace = true
clap.workspace = true
log.workspace = true
env_logger.workspace = true
hardware.workspace = true

[dev-dependencies]

[workspace.dependencies]
hardware = { path = "hardware" }
data = { path = "data" }
ui = { path = "ui" }
clap = { version = "4.4", features = ["derive"] }
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = "1.0"
toml = "0.7"
env_logger = "0.10"
log = "0.4"
i18n-embed = { version = "0.14", features = ["fluent-system", "desktop-requester"] }
rust-embed = "8.0"
i18n-embed-fl = "0.7"
lazy_static = "1.4"
