[Desktop Entry]
Name=fan-control
Comment=Control your fans with different behaviors
Type=Application
Keywords=fan;control;temp;sensor;
Categories=System;Utility;
Exec=fan-control
Icon=io.github.wiiznokes.fan-control
StartupWMClass=io.github.wiiznokes.fan-control
Terminal=false