[Desktop Entry]
Name=Fan Control
Comment=Control your fans with different behaviors
Comment[fr]=Contrôlez vos ventilateurs avec différents comportements
Comment[de]=Kontrolliere deine Lüfter mit verschiedenen Verhaltensweisen
Keywords=fan;control;temp;sensor;

# translators: do not translate this part
Type=Application
Categories=System;Utility;
Exec=fan-control
Icon=io.github.wiiznokes.fan-control
StartupWMClass=io.github.wiiznokes.fan-control
Terminal=false
