[package]
name = "ui"
version = "0.1.0"
edition = "2021"


[dependencies]
data.workspace = true
hardware.workspace = true
log.workspace = true
i18n-embed.workspace = true
i18n-embed-fl.workspace = true
rust-embed.workspace = true
lazy_static.workspace = true
strum.workspace = true
once_cell = "1.18"

[dependencies.libcosmic]
#git = "https://github.com/wiiznokes/libcosmic"
git = "https://github.com/pop-os/libcosmic"
rev = "77e9a160c4c8e2d04e48970598e256691f991171"
#branch = "master"
default-features = false
features = [
    #"a11y",
    #"debug",
    #"serde-keycode",
    "smol",
    #"wayland",
    "wgpu",
    "winit"
]
