name: CI

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

    paths-ignore:
      - "**.md"
      - "**.txt"
      - "**.log"
      - "**.desktop"
      - "metainfo.xml"

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Rust tests on ${{ matrix.os }}
    if: github.event.pull_request.draft == false
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - run: rustup update
      - uses: taiki-e/install-action@just
      - uses: Swatinem/rust-cache@v2
      - name: Install deps
        if: startsWith(matrix.os, 'ubuntu')
        run: sudo apt-get update && sudo apt-get install pkg-config libxkbcommon-dev

      - name: Build libsensors on Ubuntu
        if: startsWith(matrix.os, 'ubuntu')
        run: just libsensors
      - name: Build lhm on Windows
        if: startsWith(matrix.os, 'windows')
        run: just lhm

      - name: Build app
        run: just build-debug

  tests:
    name: Rust tests on ${{ matrix.os }}
    if: github.event.pull_request.draft == false
    strategy:
      fail-fast: false
      matrix:
        #os: [ ubuntu-latest, windows-latest ]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - run: rustup update
      - uses: taiki-e/install-action@just
      - uses: Swatinem/rust-cache@v2
      - name: Install deps
        if: startsWith(matrix.os, 'ubuntu')
        run: sudo apt-get update && sudo apt-get install pkg-config libxkbcommon-dev

      - name: Build libsensors on Ubuntu
        if: startsWith(matrix.os, 'ubuntu')
        run: just libsensors
      - name: Build lhm on Windows
        if: startsWith(matrix.os, 'windows')
        run: just lhm

      - name: Run tests
        run: just test

  fmt:
    name: Rustfmt
    if: github.event.pull_request.draft == false
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: rustup update
      - name: Run rustfmt
        run: cargo fmt --all --check --verbose

  clippy:
    name: Clippy on ${{ matrix.os }}
    if: github.event.pull_request.draft == false
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        #os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - run: rustup update
      - uses: taiki-e/install-action@just
      - uses: Swatinem/rust-cache@v2
      - name: Install deps
        if: startsWith(matrix.os, 'ubuntu')
        run: sudo apt-get update && sudo apt-get install pkg-config libxkbcommon-dev

      - name: Build libsensors on Ubuntu
        if: startsWith(matrix.os, 'ubuntu')
        run: just libsensors

      - name: Run clippy
        run: cargo clippy --workspace --all-features

  lhm-fmt:
    name: Lhm fmt
    if: github.event.pull_request.draft == false
    strategy:
      fail-fast: false
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Dotnet format
        run: dotnet format ./hardware/LibreHardwareMonitorWrapper/LibreHardwareMonitorWrapper.csproj --verify-no-changes --verbosity detailed
