name: Prettier

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  prettier:
    name: Prettier fmt
    if: github.event.pull_request.draft == false
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Prettier
        run: npx prettier --check .

  metainfo-check:
    name: Metainfo check
    if: github.event.pull_request.draft == false
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: appstreamcli validate --pedantic --explain --strict resource/linux/metainfo.xml
