name: Release

on:
  release:
    types: [created]

permissions:
  contents: write

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  upload-artifacts:
    uses: ./.github/workflows/upload_artifacts.yml
    with:
      ref: ${{ github.ref_name }}

  release-on-github:
    needs:
      - upload-artifacts
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      # must be after checkout because it will remove artifacts
      - uses: actions/download-artifact@v4

      - name: Publish release
        run: |
          gh release upload ${{ github.ref_name }} ./fan-control*/*
