name: Upload Artifacts

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      tag:
        type: string
        required: true

env:
  CARGO_TERM_COLOR: always

jobs:
  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.tag }}

      - run: rustup update
      - uses: taiki-e/install-action@just
      - uses: Swatinem/rust-cache@v2
      - run: |
          cargo install cargo-packager

      - name: Build lhm
        run: just lhm
      - name: Package nsis
        run: just nsis

      - run: echo "NSIS_NAME=$(basename ./packages/fan-control*-setup.exe)" >> $GITHUB_ENV
        shell: bash
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ env.NSIS_NAME }}
          path: |
            ./packages/${{ env.NSIS_NAME }}
